* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.App {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(0deg, #002d59 0%, rgba(0, 45, 89, 0) 100% );
}