* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100vh;
  background-color: #000;
  font-family: 'Bebas Neue', cursive;
}

.App {
  height: 100vh;
  width: 100vw;
  min-width: 1200px;
  min-height: 500px;
  background-size: cover;
  background-image: linear-gradient(10deg, #0a6ed3 30%, rgb(0, 44, 89) 100% );
}

